
<nav class="mb-1 navbar navbar-expand-lg navbar-light lighten-1" style="background-color: orange;">
  <a class="navbar-brand" href="#">Balayya's Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <li><a href="#"><span class="glyphicon glyphicon-log-in" routerLink="/login"></span> Login </a>
        <a class="nav-link p-0" href="#">
          <li><a href="#"><span class="glyphicon glyphicon-log-in" routerLink="/register"></span> Register</a></li>
        </a>
      
      </li>
    </ul>
  </div>
</nav>
