
button-1 {background-color: red;}
button-2 {background-color: #008CBA;}
button-1 {border-radius: 2px;}
button-2 {border-radius: 4px;}
.button{background-color:#eeeeee;}
.table{
	background-color:blue;
	height:100;
}