
<div class="container:">
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employee">
                 <td>1214</td>
                 <td>gani</td>
                 <td>gani@email.com</td>
                 <td>4125814</td>
                 <td>post</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
