<!-- <ul *ngfor="name of name">
    <li>{{name}}</li>
</ul>
<button class="btn btn-primary" {click}="onButtonClicked()">refresh data</button> 
    <h3>Employee List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>dateofbirth</th>
                <th>salary</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
            odd as o,even as e;first as f; last as l"
           [style.background]="o ? 'yellow': 'grey' ">
           <td>{{i}} - {{ o}}- {{e}}</td>
            <td>{{employee.empId</td>
            <td>{{employee.empName | uppercase}}</td>
            <td>{{employee.age</td>
            <td>{{employee.dateOfBirth | date:'longDate'}}</td>
             
            </tr>
        </tbody>
    </table>
</div> -->

<app-employee></app-employee>
